body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #ffff;
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
}

header nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

header nav .menu-icon {
  width: 18px;
  height: 12px;
  margin-top: 64px;
  padding-right: 24px;
}

header nav h3 {
  width: 90px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-left: 24px;
  color: #28352f;
  margin-top: 54px;
}

header nav h3 a {
  text-decoration: none;
  color: #28352f;
}

header nav img {
  margin-left: 210px;
  cursor: pointer;
  color: #28352f;
}

section {
  width: 100%;
  position: absolute;
  margin-top: 7.2rem;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 105%;
}

section .content h1 {
  position: static;
  width: 327px;
  height: 192px;
  margin-left: 24px;
  margin-top: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

section .content h1 span {
  color: #36b37e;
}

section .content p {
  color: #172b4d;
  width: 327px;
  height: 164px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  flex: none;
  order: 10;
  flex-grow: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-left: 24px;
}

.content-list {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 62px;
}

.content-list li {
  list-style-type: none;
}

.content-list li a {
  padding: 9px;
  list-style: none;
}

.content-list li a img {
  width: 20px;
  height: 20px;
}

#btn {
  top: 47rem;
  position: relative;
  background: white;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media screen and (min-width: 376px) and (max-width: 426px) {
  ul {
    margin-top: 115px;
    margin-left: 73px;
  }

  #btn {
    top: 51rem;
  }

  section {
    height: 120%;
  }

  .content {
    margin-top: 8rem;
    margin-left: 1.3rem;
  }
}

@media only screen and (max-width: 325px) {
  ul {
    margin-top: 50px;
    margin-left: 45px;
  }
}

.section-1 .first-header h2 {
  position: static;
  width: 327px;
  height: 97px;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  margin-top: 60rem;
  margin-left: 2.1rem;
  line-height: 52px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.section-1 .first-header span {
  display: flex;
  justify-content: center;
  width: 10%;
  height: auto;
  border-bottom: 4px solid #36b37e;
  border-radius: 5px;
  text-align: center;
  margin-left: 45%;
}

.work-section .first-project {
  position: static;
  left: 0;
  right: 0.6%;
  top: 0.13%;
  bottom: 83.92%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.work-section .first-project .dsc-project .project-header {
  position: static;
  width: 295px;
  height: 57px;
  left: 16px;
  top: 16px;
  padding-left: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

ul {
  text-decoration: none;
  list-style: none;
}

.section-1 > section {
  display: grid;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.work-section > div {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

.section-1 .work-section .first-project {
  grid-column: 1;
}

.project-list {
  padding-inline-start: 6%;
}

ul.lng-1 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: static;
  padding: 8px 12px;
  left: 0%;
  right: 66.23%;
  top: 0%;
  bottom: 0%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

ul.lng-1 li {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  margin: 0 2px;
}

li.project-header h3 {
  padding: 0 !important;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

li.btn-project-1 {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

button.btn-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 122px;
  outline: none;
  border: none;
  height: 48px;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 8px;
  background: #36b37f;
  text-align: center;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  cursor: pointer;
}

button.btn-1:hover {
  color: white;
  background: #008552;
}

#dsc-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background: white;
  padding: 0;
  position: relative;
  width: 327px;
  height: 232px;
  left: calc(50% - 329px / 2);
  border-radius: 8px;
  margin-top: -16.9rem;
}

#dsc-project-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background: white;
  padding: 0px;
  position: relative;
  width: 327px;
  height: 232px;
  left: calc(50% - 329px / 2);
  border-radius: 8px;
  margin-top: -15.8rem;
}

#dsc-project-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background: white;
  padding: 0px;
  position: relative;
  width: 327px;
  height: 232px;
  left: calc(50% - 329px / 2);
  border-radius: 8px;
  margin-top: -15.8rem;
}

#dsc-project-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  background: white;
  padding: 0;
  position: relative;
  width: 327px;
  height: 232px;
  left: calc(50% - 329px / 2);
  border-radius: 8px;
  margin-top: -15.8rem;
}

.section-2 .about-me {
  margin-top: 200rem;
  text-align: center;
  background-image: url("../images/aboutme.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2 .about-me h2 {
  width: 351px;
  height: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.section-2 .about-me p {
  position: static;
  width: 351px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 24px 0px;
}

.section-2 .about-me .btn-2 {
  padding: 12px;
  position: static;
  width: 159px;
  height: 48px;
  left: 96px;
  top: 285px;
  background: #36b37f;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0px;
  color: white;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
}

.section-2 .about-me .btn-2:hover {
  color: white;
  background: #008552;
}

.skills-section {
  display: grid;
  grid-gap: 2rem;
  margin-top: 236rem;
  width: 327px;
  height: 352px;
  margin-right: 7%;
  position: absolute;
  left: 7%;
  padding-right: 10%;
}

.skills-content {
  background: #ebf0ee;
}

.skills-section .skills-content {
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
}

.frameworks .frameworks-list h3 {
  position: static;
  top: 0px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skills-section .skills-content .language-1 .languages h3 {
  position: static;
  top: 0px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.skills-section .skills-content .skills-1 .skills h3 {
  position: static;
  top: 0px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.skills-section .skills-content .language-1 .languages .about-lng {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;
}

.frameworks .frameworks-list .about-frw {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;
}

.skills-1 .skills .about-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;
}

.skills-section .skills-content .language-1 .languages .about-lng .lng-2 {
  position: static;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #fff;
  border-radius: 8px;
  padding: 6px;
  margin: 3px;
}

.frameworks .frameworks-list .about-frw .frw-1 {
  position: static;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #fff;
  border-radius: 8px;
  padding: 6px;
  margin: 3px;
}

.skills-1 .skills .about-skills .skills-2 {
  position: static;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  background: #fff;
  border-radius: 8px;
  padding: 6px;
  margin: 3px;
}

#icon-1 {
  margin-left: 3.8rem;
}

#icon-2 {
  margin-left: 3.8rem;
}

#icon-3 {
  margin-left: 3.8rem;
}

li.languages {
  margin-right: 2rem;
}

li.frameworks-list {
  margin-right: 2rem;
}

li.skills {
  margin-right: 2rem;
}
